
        <footer class="footer-basic">
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Anasayfa</a></li>
                <li class="list-inline-item"><a href="#">Özellikler</a></li>
                <li class="list-inline-item"><a href="#">Hakkımızda</a></li>
                <li class="list-inline-item"><a href="#">Gizlilik Politikası</a></li>
            </ul>
            <p class="copyright">EasyPoll © 2021</p>
        </footer>
    </section>