<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EasyPoll</title>
    <meta property="og:type" content="website">
    <meta name="description" content="Toplantılarınız için en uygun zamanı belirlemenizi sağlayan kullanımı kolay bir uygulama.">
    <meta property="og:image" content="/assets/img/EASYPOLL.png">

    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="/assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="/assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/Team-Clean.css">
    <link rel="stylesheet" href="/assets/css/Article-List.css">
    <link rel="stylesheet" href="/assets/css/Account-setting-or-edit-profile.css">
    <link rel="stylesheet" href="/assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/assets/css/calendar.css">
    <link rel="stylesheet" href="/assets/css/step.css">

</head>
<body>
    <%- body %> 
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="/assets/js/datepicker.js"></script>
    <script>
        let dateToday = new Date();
        $('.date').datepicker({
            multidate: false,
            startDate: '-0m'
            //endDate: '+2d'
        }).on('changeDate', function(ev){
            $('#sDate1').text($('#datepicker').data('date'));
            $('#datepicker').datepicker('hide');
        });



        $('.end').datepicker({
            multidate: false,
            startDate: '-0m',
            format: 'dd.mm.yyyy',
            //endDate: '+2d'
        }).on('changeDate', function(ev){
            $('#sDate1').text($('#datepicker').data('date'));
            $('#datepicker').datepicker('hide');
        });


        
 const mybtn=document.querySelector(".mybtn");
 const myInput=document.querySelector(".date");
 const cards=document.querySelector(".cards");
 const cardList=[];
 const clearsButton=document.querySelector(".mybtn-clear");
 const endTime=document.querySelectorAll(".date");
 let comment=document.querySelector(".commentbtn");



 cards.addEventListener("click",(e)=>{
  if(e.target.className==="fas fa-trash")
  {
      removeElement(e.target);
  }
  else if(e.target.className==="fas fa-calendar-plus")
  {
    
    cardList.push(e.target.parentElement.textContent.trim());
    cards.innerHTML="";
    writeInList(cardList);
  }
})

function removeElement(target)
{
    
    const name=(target.parentElement.textContent);
    const index = cardList.indexOf(name.trim());
    if (index !== -1){cardList.splice(index, 1);}
    target.parentElement.parentElement.parentElement.remove();
}

 mybtn.addEventListener("click",()=>
 {
    cards.innerHTML="";
    cardList.splice(0,cardList.length);
 })

 myInput.addEventListener("focus",function(e){

    if(e.target.value!="")
    {   const value=getDayName(e.target.value,"tr");
        if(!cardList.includes(value))
        {
        cardList.push(value);
        cards.innerHTML="";
        writeInList(cardList);
        }
    }

 });
 
 function existInList(value)
 {
    cardList.forEach(element=>{
        if(element===value)
        {   
            return true;
        }
       
    })
  
    return false;
 }

function getDayName(dateStr, locale){
var date = new Date(dateStr);
return date.toLocaleDateString(locale, { day: 'numeric', month: 'numeric', year: 'numeric', weekday: 'long' });        
}

  function writeInList(list)    
  { 
      
      list.forEach(element => {
        
        cards.innerHTML+=`
  <div class="card mb-2 mt-2 nav nav-tabs"  onblur="myFunction()" style="min-width: 160px !important; width:98% !important; border: 0.5px solid #FF7B01; margin-bottom: 30px !important;" >
     <div class="card-body">
         <h3 class="card-title">${element}<i class="fas fa-trash" style="margin-left:25px"></i>
            <i class="fas fa-calendar-plus" style="margin-left:25px"></i></h3>
         <input name="date" style="visibility:hidden";  id="inputMDEx1" value=${element} class="form-control ">   
         <div class="md-form">
            <input name="beginTime" type="time" onblur="myFunction()" id="inputMDEx1" class="form-control begin">
            <label for="inputMDEx1">Başlangıç saati</label>
         </div>
            <input name="endTime" type="time"  id="inputMDEx1" class="form-control">
            <label for="inputMDEx1">Bitiş saati</label>
         </div>
 </div>
  `;    });
  }




function myFunction()
{
    const beginTimes=document.querySelectorAll(".begin");
    beginTimes.forEach(element => {
        if(element.value>element.parentElement.nextElementSibling.value)
        {
            element.parentElement.nextElementSibling.value=element.value;
        }
    });
}


        function copyBox() {
            /* Get the text field */
            var copyText = document.getElementById("url-box");

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */

            /* Copy the text inside the text field */
            navigator.clipboard.writeText(copyText.value);

            /* Alert the copied text */
            alert("Kopyalanan URL " + copyText.value);
        }
    </script>

    <script>
        function share(){
            const paylasButon = document.getElementById("paylas");
            paylasButon.addEventListener("click", async () =>{

                var dosya = document.getElementById('url-box').files;
                console.log(dosya[0]); //mevcut dosya

                if (navigator.canShare) {

                    try {
                        //paylaşma özelliği
                        await navigator.share({

                            title:"Easy Poll Davet",
                            text:"Aşağıdaki davet bağlantısı ile Etkiniğe katılımı oylayabilirsiniz",
                            url:window.location.href
                        })
                        console.log("Paylaş çalıştı")
                    } catch (error) {
                        console.log("Bir sorun oldu")
                    }

                } else {
                    Console.log("Tarayıcı desteklemiyor")
                }
            });

        }


    </script>


<script>

    $( document ).ready(function() {

        "use strict";

        var todo = function() {
            $('.todo-list .todo-item input').click(function() {
                if($(this).is(':checked')) {
                    $(this).parent().parent().parent().toggleClass('complete');
                } else {
                    $(this).parent().parent().parent().toggleClass('complete');
                }
            });

            $('.todo-nav .active-task').click(function() {
                $('.todo-list').removeClass('only-complete');
                $('.todo-list').addClass('only-active');
                $('.todo-nav li.active').removeClass('active');
                $(this).addClass('active');
            });

            $('.todo-nav .completed-task').click(function() {
                $('.todo-list').removeClass('only-active');
                $('.todo-list').addClass('only-complete');
                $('.todo-nav li.active').removeClass('active');
                $(this).addClass('active');
            });

            $('#uniform-all-complete input').click(function() {
                if($(this).is(':checked')) {
                    $('.todo-item .checker span:not(.checked) input').click();
                } else {
                    $('.todo-item .checker span.checked input').click();
                }
            });

            $('.remove-todo-item').click(function() {
                $(this).parent().remove();
            });
        };

        todo();

        $(".add-task").keypress(function (e) {
            
            if ((e.which == 13)&&(!$(this).val().length == 0)) {
                if($(this).val().includes("gmail.com")&&($(this).val().length >= 16))
                {
                    $('<div class="todo-item"><div class="checker"><span class=""></span></div> <span>' + $(this).val() + '</span> <i onclick="deleteTodo(this)" style="margin-left:25px;" class="fas fa-trash"></i><input type="text" style="visibility: hidden;" name="mail" value='+$(this).val()+' class="form-control"><a href="javascript:void(0);" class="float-right remove-todo-item"><i class="icon-close"></i></a></div>').insertAfter('.todo-list .todo-item:last-child');
                    $(this).val('');
                }
                else{
                    alert('Lütfen doğru formatta bir gmail giriniz.');
                }

            } else if(e.which == 13) {
                alert('Lütfen email kısmına bir email yazıp enter tuşuna basınız.');
            }
            $(document).on('.todo-list .todo-item.added input').click(function() {
                if($(this).is(':checked')) {
                    $(this).parent().parent().parent().toggleClass('complete');
                } else {
                    $(this).parent().parent().parent().toggleClass('complete');
                }
            });
            $('.todo-list .todo-item.added .remove-todo-item').click(function() {
                $(this).parent().remove();
            });
        });
    });

    function deleteTodo(a)
    {   a.parentElement.remove();
    }

</script>
</body>
</html>
