
                 <%- include('./partials/navbar.ejs') %>                   
                <section class="dateSection shadow" style="width: 60%; min-width: 800px; margin: 150px auto ; ">
                        <div class="container col-xxl-8 px-4 py-5  " style="align-self: center; margin: auto;">
                            <div class="row lg-row g-5 py-5" style=" justify-content: space-between; ">
                                <form method="post">
                                <div class="col-10 col-sm-8 col-md-4 col-lg-6" style="width: 350px; ">
                                    <div class="calender" style="align-items: flex-end !important ;">
                                        <div class="section1">
                                        <input type="text" style="width: 450px !important; " class="form-control date myinput" placeholder="Tarih Seçimi Yap" readonly>
                                        <button type="button" class="btn btn-danger mybtn mt-3" style="background-color:#FF7B01; border-color: #FF7B01;">Temizle</button>
                                        <button type="submit" class="btn btn-danger mybtndevam mt-3" style="background-color:#FF7B01; border-color: #FF7B01;">Devam et</button>   
                                    </div>
                                      </div>  
                                </div>
                                <div class="col-lg-6 col-md-8" style="width: 510px; min-height: 200px; padding-top: 35px; text-align: center;  ">     
                                    <div class="cards" style="height: 500px; overflow-y: auto; width: 100%" >
                                    </div>
                                </div>
                            </form>
                            </div>
                    </div>
                </section>             


            <%- include('./partials/navbar.ejs') %> 