
                 <%- include('./partials/navbar.ejs') %>                   



                 <section class="dateSection shadow" style="width:90%;max-width:1024px; height:auto;min-height:500px;margin:auto;margin-top: 150px;margin-bottom: 70px;" >
                    &nbsp
                         <br>
                         <div class="mdl-card mdl-shadow--2dp" style="width:80%;max-width:1024px;margin:auto;">
                             <div class="mdl-card__supporting-text">
                                 <div class="mdl-stepper-horizontal-alternative">
                                     <div class="mdl-stepper-step active">
                                         <div class="mdl-stepper-circle"><span>1</span></div>
                                         <div class="mdl-stepper-title">Etkinlik Oluştur</div>
                                         <div class="mdl-stepper-bar-left"></div>
                                         <div class="mdl-stepper-bar-right"></div>
                                     </div>
                                     <div class="mdl-stepper-step active">
                                         <div class="mdl-stepper-circle"><span>2</span></div>
                                         <div class="mdl-stepper-title">Anket Ayarları</div>
                                         <div class="mdl-stepper-bar-left"></div>
                                         <div class="mdl-stepper-bar-right"></div>
                                     </div>
                                     <div class="mdl-stepper-step active-step">
                                         <div class="mdl-stepper-circle"><span>3</span></div>
                                         <div class="mdl-stepper-title">Tarih-Saat Seçimi</div>
                                         <div class="mdl-stepper-bar-left"></div>
                                         <div class="mdl-stepper-bar-right"></div>
                                     </div>
                                     <div class="mdl-stepper-step active-step">
                                         <div class="mdl-stepper-circle"><span>4</span></div>
                                         <div class="mdl-stepper-title">Oylama</div>
                                         <div class="mdl-stepper-bar-left"></div>
                                         <div class="mdl-stepper-bar-right"></div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                        <div class="container col-xxl-8 px-4 py-5  " style="align-self: center; margin: auto;">
                            <% if (locals.message !="") { %>
                                <div class="alert alert-warning alert-dismissible fade show" role="alert" style="text-align: center;">
                                    <b><%- locals.message %></b>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                  </div>
                            <% } %>  
                            <div class="row lg-row g-5 py-5" style=" justify-content: space-between; ">
                                <form method="post">
                                <div class="col-10 col-sm-8 col-md-4 col-lg-6" style="width: 100%; ">
                                    <div class="calender" style="align-items: flex-end !important ;">
                                        <div class="section1">
                                        <input type="text" style="width: 100% !important; " class="form-control date myinput" onclick="todayy()" placeholder="Tarih Seçimi Yap" readonly>
                                        <button type="button" class="btn btn-danger mybtn mt-3" style="background-color:#FF7B01; border-color: #FF7B01;">Temizle</button>
                                        <button type="submit"  class="btn btn-danger mybtndevam mt-3" style="background-color:#FF7B01; border-color: #FF7B01; width: auto;">Devam et</button>
                                    </div>
                                      </div>  
                                </div>
                                <div class="col-lg-6 col-md-8" style="width: 100%; min-height: 200px; padding-top: 35px; text-align: center;">
                                    <div class="cards" style="height: 500px; overflow-y: auto; " ></div>
                                </div>
                            </form>
                            </div>
                    </div>
                </section>             


            <%- include('./partials/footer.ejs') %> 