
<%- include('./partials/navbar.ejs') %> 

<% if (locals.message !="") { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="text-align: center;">
        <b><%- locals.message %></b>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
<% } %>  


<div data-aos="fade" id="createpoll" class="px-4 py-5 my-5 text-center"><img data-aos="fade-up" data-aos-once="true" class="responsive" src="assets/img/Business-Meeting-Illustration.png" style="width: 500px;">
    <h1 data-aos="fade-up" data-aos-once="true" class="display-5 fw-bold">HADİ TOPLANTI PLANLA</h1>
    <div class="col-lg-6 m-auto">
        <p data-aos="fade-up" data-aos-once="true" class="lead mb-4" style="color: #22262a;">Quisque at curabitur mollis ornare, malesuada maecenas. Orci elit tristique, malesuada eu pharetra. Est praesent tortor porttitor aptent, amet quisque.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"><button class="btn btn-primary btn-lg d-lg-flex justify-content-lg-center action-button" data-bss-hover-animate="pulse" style="padding: 8px 40px;margin-right: 10px;background: #ff7b01;color: #ffffff;font-weight: bold;border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;border-color: #ffffff;" type="button">Toplantı Planla</button></div>
    </div>
    <section class="features-boxed" style="background: rgb(255,255,255);">
        <div class="intro"></div>
        <div class="row justify-content-center features" data-aos="fade-up" style="margin-bottom: -30px;">
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-map-marker icon" style="color: #ff7b01;"></i>
                    <h3 class="name" style="font-size: 24px;">Etkinlik Detayı</h3>
                    <p class="description" style="color: #22262a;">Etkinlik adın, yapılacağı adres ve etkinlik açıklamasını belirleyerek devam et.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-clock-o icon" style="color: #ff7b01;"></i>
                    <h3 class="name" style="font-size: 24px;">Uygun Zamanları Belirle</h3>
                    <p class="description" style="color: #22262a;">Takvim üzerinden uygun tarih ve saatleri belirleyerek listene ekle ve sürelerini belirle.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-list-alt icon" style="color: #ff7b01;border-color: #ff7b01;"></i>
                    <h3 class="name" style="font-size: 24px;">Toplantıyı Paylaş</h3>
                    <p class="description" style="color: #22262a;">Toplantınızın paylaşılabilir linkini alıp Email, QR kod veya URL olarak alıp paylaşabilirsiniz.&nbsp;</p>
                </div>
            </div>
        </div>
    </section>
</div>
<div>
    <section id="features" class="features-boxed" style="background: rgb(255,255,255);">
        <div class="container" data-aos="fade-up" style="margin-top: -100px;">
            <div class="intro">
                <h2 class="text-center">ÖZELLİKLER</h2>
                <p class="text-center">EasyPoll ile Yapabileceklerini Keşfet</p>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-photo icon" style="color: #ff7b01;"></i>
                        <h3 class="name">Kolay Etkinlik Oluşturma ve Oylama</h3>
                        <p class="description">Toplantıları kolayca planlayın, anketler ve mesaj panoları oluşturun.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-photo icon" style="color: #ff7b01;"></i>
                        <h3 class="name">Sınırsız Anket Oluştur</h3>
                        <p class="description">İstediğiniz kadar anket oluşturun. İstediğiniz kadar katılımcı davet edin.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-photo icon" style="color: #ff7b01;"></i>
                        <h3 class="name">Sohbet Edin </h3>
                        <p class="description">Etkinliğiniz hakkında katılımcılarınız ile sohbet edin.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-photo icon" style="color: #ff7b01;"></i>
                        <h3 class="name">Anket Paylaşımı </h3>
                        <p class="description">Etkinliğiniz için oluşan URL ile etkinliğinizi paylaşabilir ve katılımcılarınızı davet edebilirsiniz.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-photo icon" style="color: #ff7b01;"></i>
                        <h3 class="name">Oylamanızın Sonuçlarını Alın </h3>
                        <p class="description">Etkinliğinizin anket sonuçlarını excel formatında çıktı alabilir ve planlamanızı daha kolay gerçekleştirebilirsiniz.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-photo icon" style="color: #ff7b01;border-color: #ff7b01;"></i>
                        <h3 class="name">Heryerden Eriş</h3>
                        <p class="description">Mobil ve masaüstü cihazlarınızdan erişin.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div>
    <div id="whoami" class="container">
        <div class="row">
            <div class="col-md-6 column-custom"><img class="d-xl-flex responsive" data-aos="fade-right" src="assets/img/6d2725b5edd22ad0bc568873d7491967.png"></div>
            <div class="col-md-6 text-end column-custom">
                <div>
                    <h1 data-aos="fade-left" class="display-5 fw-bold" style="text-align: center;">Biz Kimiz ?</h1>
                    <p class="text-center d-xxl-flex lead mb-4" data-aos="fade-left" style="color: #22262a;text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque eros, dictum vitae mi id, fermentum vestibulum quam. Phasellus massa eros, congue eu sagittis non, molestie non nisi. Nulla et odio faucibus ex porttitor laoreet ac non risus. Vivamus ut semper sapien. Etiam ut ligula imperdiet, sollicitudin ante eget, tempor ante. Fusce tincidunt sem ipsum. Cras accumsan nunc nec ex mattis rhoncus. In hac habitasse platea dictumst. Nullam ut ex est.Praesent sed nulla sed erat scelerisque venenatis. Etiam tincidunt ut ligula eget vestibulum. Cras erat tellus, laoreet sed enim id, ornare porta nulla.&nbsp;<br></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div id="contact" class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3" style="margin-bottom: -10px;">
            <div data-aos="fade-up" class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1" style="text-align: left;">İletişime Geç</h1>
                <p class="lead">Urna molestie hac curae vel, integer odio lacinia inceptos suscipit. Volutpat proin ut vivamus auctor, malesuada curabitur donec et. Elementum rhoncus mattis cursus, faucibus ultricies. Ligula non netus curabitur mi.</p>
            </div>
            <div class="col-lg-5">
                <section class="contact-clean" style="background: rgb(255,255,255);">
                    <form data-aos="fade-up" method="post">
                        <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="Ad Soyad"></div>
                        <div class="mb-3"><input class="form-control is-invalid" type="email" name="email" placeholder="Email"><small class="form-text text-danger">Lütfen doğru bir Email giriniz.</small></div>
                        <div class="mb-3"><textarea class="form-control" name="message" placeholder="Mesaj" rows="14"></textarea></div>
                        <div class="mb-3"><button class="btn btn-secondary" type="submit" style="background: #ff7b01;">Gönder</button></div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>


<%- include('./partials/footer.ejs') %> 

