<%- include('./partials/navbar.ejs') %>

<div class="container" style="margin-top: 100px;">
    <section class="login-dark shadow" style="width: 70%; margin: auto; background-color: white !important;" >
        <form method="post" >
            <h2 class="visually-hidden" >Kilitli Anket</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline" style="color: #ff7b01" ></i></div>
            <div class="mb-3"><input type="password" class="form-control" name="password" placeholder="Password" /></div>
            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="background-color:#FF7B02;">Ankete Katıl</button></div>
            <% if (locals.message !="") { %>
                <div class="alert alert-<%- locals.message[0].split(":")[0] %> alert-dismissible fade show" role="alert" style="text-align: center;">
                    <b><%- locals.message[0].split(":")[1] %></b>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
              <% } %>  
        </form>
    </section>
</div>



<%- include('./partials/footer.ejs') %>