<%- include('./partials/navbar.ejs') %>  
<section class="register-photo logIn" style="margin: 120px auto;">
    <div class="form-container">
        <div class="image-holder"></div>
        <form method="post">
            <h2 class="text-center"><strong>Şifremi Unuttum</strong></h2>
            <div class="mb-3"><input  type="password" class="form-control" name="password" placeholder="Şifre" /></div>
            <div class="mb-3"><input  type="password" class="form-control" name="repeatPassword" placeholder="Şifre (tekrar)" /></div>
            <% if (locals.message !="") { %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%- locals.message %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
            <% } %>  
            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Şifremi Yenile</button></div>
        </form>
    </div>
</section>
<%- include('./partials/footer.ejs') %> 