<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyPoll Sayfamı Bulunamadı </title>

</head>
<body>
    <div class="container" style="min-height: 800px; display:table;">
        <div style=" width: 40%;vertical-align: middle; display: table-cell; text-align: center;">
            <h2>404</h2>
            <h3>Oops, Hata ile Karşılaşıldı...</h3>
            <p>URL'yi Kontrol Et</p>
            <p>Tekrar,Anasayfaya <a href="http://localhost:3000/home">Dön</a>.</p>
        </div>
    </div>
</body>
</html>