<%- include('./partials/navbar.ejs') %>
<section class="register-photo logIn" style="margin-bottom: 80px;">
<div style="width:100%;max-width:1024px; height:auto;min-height:500px;margin:auto;margin-top: 150px;margin-bottom: 70px;">
    <div class="form-container">
        <div class="image-holder"></div>
        <form method="post">
            <h2 class="text-center"><strong>Şifremi Unuttum</strong></h2>
            <div class="mb-3"><input type="email" class="form-control" name="email" placeholder="Email" /></div>
            <% if (locals.message !="") { %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%- locals.message %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
            <% } %>  
            <div class="mb-3"><button class="btn btn-primary d-block w-100" style="background-color:#FF7B01" type="submit">Email Yolla</button></div>
        </form>
    </div>
</div>
</section>
<%- include('./partials/footer.ejs') %> 